<div class="question-screen">
  <div class="question-info">
    <h1><%= @category.capitalize %></h1>
    <h2><%= @question %></h2>
    <% if @result == "correct" %>
      <h2 style="color:green;">Correct</h2>
    <% else %>
      <h2 style="color:red">Incorrect</h2>
    <% end %>
  </div>
  <div class="question-options">
    <% @options.each do |option| %>
      <% if option == @correct_answer %>
        <div class="correct-option option" href="/game/<%= @category %>/correct"><%= option %></div>
      <% else %>
        <div class="incorrect-option option" href="/game/<%= @category %>/incorrect"><%= option %></div>
      <% end %>
    <% end %>
  </div>
  <% if @result == "incorrect" %>
    <a href="/game/<%=@category%>">
      <!-- Pick another <%= @category %> question -->
      <img class="reroll" src="/images/reroll-icon.svg" alt="reroll-question">
    </a>
  <% end %>
  <% if @complete_pie %>
    <a class="new-category" href="/complete-pie">Pick another category</a>
  <% else %>
    <a class="new-category" href="/game">Pick another category</a>
  <% end %>
</div>
